# node
node_modules/
coverage/
*.tsbuildinfo

# next
.next/
next-env.d.ts
.env
.swc

# stryker
.stryker-tmp
reports

# mkcert
*.pem
*.crt
*.key

# storybook
public/mockServiceWorker.js

# others
.DS_Store
*.log
